@model  HRConcourse.Web.Areas.Filler.Models.KioskViewModel
@using System.Configuration
@using System.Text.RegularExpressions
@using System.Linq;
@using HRConcourse.Web.Areas.Filler.Resources.DocumentFill

@{
    Layout = null;
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- Style sheets -->
    <link href="@Url.Content("~/Content/Fonts/fonts.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Filler2.css?ts=20140320")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/screen.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/demo_style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/pagination.css?ts=20120916")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/printMedia.css?ts=20121025")" rel="stylesheet" type="text/css" media="print" />
    <link href="@Url.Content("~/Content/formbuilder/themes/aristo/css/uniform.aristo.css?ts=20120905")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/jquery-ui-1.8.20.custom.css?ts=20120609")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Fonts/script.css?ts=20140905")" rel="stylesheet" type="text/css" />

    @if (Regex.IsMatch(Request.UserAgent, @"MSIE 9.*Trident/5") || Regex.IsMatch(Request.UserAgent, @"MSIE 10.*Trident/6") || Regex.IsMatch(Request.UserAgent, @"Trident/7.*rv:11"))
    {
        // Print style for IE 9, 10, 11
        <link href="@Url.Content("~/Content/printIE.css?ts=20140403")" rel="stylesheet" type="text/css" />
    }

    <!-- JavaScript Files -->
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.8.16.custom.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.tools.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.tools.validator.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/MicrosoftAjax.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/MicrosoftMvcAjax.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.uniform.min.js?ts=20120917")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.html5type.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/json2.js")"></script>
    <!--[if lt IE 9]><script src="@Url.Content("~/Scripts/excanvas.js")" type="text/javascript"></script><![endif]-->
    <script src="@Url.Content("~/Scripts/jquery.signaturepad.min.js?ts=20121127")" type="text/javascript"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.printPage.js?ts=20121106")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.pagination.js?ts=20120912")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/formsCommon.js?ts=20140107")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/viewCommon.js?ts=20140212")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/validationSetup.js?ts=20120604")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/kiosk.js?ts=20150708")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.fileDownload.js?ts=20140319")"></script>
    <script type="text/javascript">
        function getFullyQualifiedURL(action) {
            var baseUrl = "@Url.Action("/")";
            return baseUrl + action;
        }

        function getLocalDateTimeNow() {
            var date = new Date(@( System.Convert.ToInt64((DateTime.UtcNow - new DateTime(1970, 1, 1, 0, 0, 0, DateTimeKind.Utc)).TotalMilliseconds)));
            return date;
        }

        var hierName = "@ViewBag.HierName";
        function getHierFullyQualifiedURL(action) {
            var baseUrl =  "@Url.Action("/")";
            return baseUrl + action;
        }

        var localizationStrings = {
            'ChangeDocumentError' : '@Index2.ChangeDocumentError',
            'LoadingError': '@Index2.LoadingError',
            'LoadPageError' : '@Index2.LoadPageError',
            'SubmitError' : '@Index2.SubmitError',
            'HelpPageTitle' : '@Index2.HelpPageTitle',
            'PageCommentsTitle' : '@Index2.PageCommentsTitle',
            'SubmitPageComments' : '@Index2.SubmitPageComments',
            'UploadError' : '@Index2.UploadError',
            'SubmitCommentsSuccess' : '@Index2.SubmitCommentsSuccess',
            'SubmitCommentsError' : '@Index2.SubmitCommentsError',
            'Back' : '@DocumentSliderUserControl.BACK',
            'Skip' : '@DocumentSliderUserControl.SKIP',
            'Next' : '@DocumentSliderUserControl.NEXT',
            'Previous' : '@DocumentSliderUserControl.PREVIOUS',
            'ShowMoreErrors' : '@Index2.ShowMoreErrors',
            'ShowLessErrors': '@Index2.ShowLessErrors',
        };
        var mergeFieldValuesDictionary = new Object();


        //#region Upload Functions -------------------------------------------------------------------------------------------
        function applyAccept(e) {
            $(this).find("input").attr("accept", "application\/pdf");
            $(this).find("span").html("@DocumentHardSignatureOptionsUserControl.UploadBttn").addClass('uploadName');
            $(this).find(".t-upload-button").prepend('<span class="sprite-uploadDocument" style="float:left; margin-top: 2px;"></span>');
        }

        function onUpload(e) {
            // Array with information about the uploaded files
            var files = e.files;
            var maxAllowedKb = 0;

            // Check the extension of each file and abort the upload if it is not .pdf
            $.each(files, function () {
                if (this.extension != ".pdf") {
                    showAlert("@UploadDocuments.OnlyPDFFiles");
                    e.preventDefault();
                    return false;
                }
                if (this.size && (this.size > 1024 * maxAllowedKb)) {
                    var allowedSizeMsg;
                    if (maxAllowedKb > 1024) {
                        allowedSizeMsg = Math.round(maxAllowedKb / 1024 * 100)/100 + "Mb";
                    } else {
                        allowedSizeMsg = maxAllowedKb + "Kb";
                    }
                    showAlert("@UploadDocuments.MaxSizeExceeded" + allowedSizeMsg);
                    e.preventDefault();
                    return false;
                }
            });
        }
        //#endregion
    </script>

    @* Pending Document IDs *@
    <script type="text/javascript">
        var PendingDocs = [{id: "@Model.RevisionId", pages: @Model.PageCount}];
        var TotalPages = @Model.PageCount;
    </script>


    @* Outside interaction messages *@
    <script type="text/javascript">
        function bindEvent(el, eventName, eventHandler) {
            if (el.addEventListener) {
                el.addEventListener(eventName, eventHandler, false);
            } else if (el.attachEvent) {
                el.attachEvent('on' + eventName, eventHandler);
            }
        }

        bindEvent(window, 'message', function (event) {
            if (event.data && event.data.method == 'setDocumentValues' && event.data.values) {
                setDocumentValues(event.data.values);
            }
        });
    </script>



    <title>@Index2.PageTitle</title>
    @Html.MetaAcceptLanguage()
</head>

<body>
    @* Main Content *@
    <div id="mainContent">
        @* Root element for documents *@
        <div id="panels">
            @* Document panel *@
            <div id="mainPanel"></div>
        </div>
    </div>

    @* Loading and Submitting message dialogs *@
    <div style="position: absolute; width: 100%; top: 5px;">
        <div id="loading">
            <p style="text-align: center; margin: auto">
                @Index2.Loading
            </p>
        </div>
        <div id="submitting">
            <p style="text-align: center; margin: auto">
                @Index2.Submitting
            </p>
        </div>
    </div>

    @*For original document modal dialog*@
    <div id="originalDocument"></div>
</body>
</html>
